$accentbright: #2196f3;
$mainbright: #ffffff;
$mainmid: #757575;
$maindark: #212121;
// $background: #e5e5e5;
$footercolor: #2f303a;
$accentbackground: #f5f4fa;
// $accentbox: #eeeeee;
$bordercolor: #ececec;
// $backgroundoverlay: #c4c4c4;
$bordercolorcustomers: #afb1b8;
$time: 250ms;

$lightweight: 400;
$midweight: 500;
$boldweight: 700;
$heaviestweight: 900;

$cubic: cubic-bezier(0.4, 0, 0.2, 1);
