.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    width: 480 px;
  }
  @media screen and (min-width: 786px) {
    width: 786 px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200 px;
  }
}
