.features {
  padding: 94px 0;
}
.features__list {
  @media screen and (min-width: 786px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.features__item {
  @media screen and (min-width: 786px) {
    width: 354px;
  }
  &:not(:last-child) {
    @media screen and (min-width: 1200px) {
      margin-right: 30px;
    }
  }
  & {
    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }
  &:nth-child(odd) {
    @media screen and (min-width: 786px) {
      margin-right: 30px;
      margin-bottom: auto;
    }
  }
}

.features__icon {
  margin: 25px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.features__icon-background {
  background-color: $accentbackground;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
