.footer {
  background-color: $footercolor;
  padding: 60px 0;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.footer__left {
  display: block;
  align-content: flex-start;
  text-align: center;
  align-items: center;
  justify-items: center;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.address {
  font-style: normal;
  margin-bottom: 27px;
  margin-right: 0px;
}

.footer__sections {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 786px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    padding-left: 76px;
    padding-right: 89px;
    justify-content: space-evenly;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }
}
.footer__middle {
  margin-left: 70px;
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}
.address__list {
  display: block;
  width: 250px;
  margin: 0px;
}

.address__phone {
  display: block;
}

.footer__social-list {
  display: flex;
}

.footer__social-item:not(:last-child) {
  margin-right: 10px;
}
.footer__social-title {
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.email__items {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    text-align: left;
  }
}
.email__label {
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
.footer__right {
  text-align: center;
  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }
}
.email__svg {
  fill: $mainbright;
  position: absolute;
  right: 25px;
  top: 13px;
}
