.header {
  background-color: $mainbright;
  border-bottom: 1px solid $bordercolor;
}
.header__container {
  display: flex;
  position: relative;
  @media screen and (max-width: 480px) {
    margin-right: auto;
  }
}
.header__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__list {
  margin-left: auto;
  @media screen and (max-width: 480px) {
    display: none;
  }
  @media (min-width: 786px) {
    display: block;
    margin-top: 21px;
    margin-bottom: 11px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.contacts__item:not(:last-child) {
  margin-right: 30px;
}
.contact__link {
  color: $mainmid;
  font-size: 14px;
  font-weight: $midweight;
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: $time;
  transition-timing-function: $cubic;

  &:hover,
  &:focus {
    color: $accentbright;
  }
  & {
    @media screen and (min-width: 786px) {
      padding-bottom: 10px;
      padding-top: 0;
    }
  }
  & {
    @media screen and (min-width: 1200px) {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }
}

.header__list {
  display: none;

  @media screen and (min-width: 480px) {
    display: flex;
  }
}
