.header {
  background-color: $mainbright;
  border-bottom: 1px solid $bordercolor;
}

.header__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__list {
  margin-left: auto;
  .header__list {
    display: none;

    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }
}

.contacts__item:not(:last-child) {
  margin-right: 30px;
}
.header__container {
  display: flex;
}
